.navbar {
  max-width: 100%;
  background-color: #e9aaaa;
  padding: 10px;

  .navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    .logo {
      font-size: 1.5rem;
      // logo için diğer stil özellikleri
      .logo-image {
        max-height: 50px; // Logo resminin maksimum yüksekliği
        width: auto; // Logo resminin genişliği
      }
    }

    .navbar-links {
      display: flex;
      align-items: center;
      .nav-link {
        margin-right: 15px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .navbar-search {
      margin-left: auto;
      display: flex;
      align-items: center;

      input[type="text"] {
        margin-left: 5px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        &:focus {
          outline: none;
          border-color: #333;
        }
      }
    }

    .buttons-wrapper {
      // buttons-wrapper için diğer stil özellikleri
      .theme-button {
        background-color: #007bff; // ThemeButton arka plan rengi
        color: white; // ThemeButton yazı rengi
        border: none; // ThemeButton kenar çizgisi
        padding: 8px 16px; // ThemeButton iç içe alan
        border-radius: 5px; // ThemeButton kenar yuvarlaklığı
        cursor: pointer; // ThemeButton imleç stili
        &:hover {
          background-color: #0056b3; // ThemeButton üzerine gelince arka plan rengi
        }
      }
    }

    .user-buttons {
      display: flex;
      align-items: center;
      // user-buttons için diğer stil özellikleri
      .search-btn,
      .cart-btn {
        background-color: transparent; // Search ve Cart button arka plan rengi
        border: none; // Search ve Cart button kenar çizgisi
        cursor: pointer; // Search ve Cart button imleç stili
        margin-left: 10px; // Search ve Cart button ile arasında boşluk
        &:hover {
          color: #007bff; // Search ve Cart button üzerine gelince yazı rengi
        }
      }

      .login-btn {
        color: white; // Login button yazı rengi
        text-decoration: none; // Login button altı çizgi kaldırma
        margin-left: 10px; // Login button ile arasında boşluk
        &:hover {
          text-decoration: underline; // Login button üzerine gelince altı çizgi
        }
      }
    }
  }
}
