@import '../Home.scss';

.navbar {
  @include typography('Satoshi', 14px, normal);

  .navbar-top {
    @include colors(#fff, #000);
    @include padding(10px 0);
    text-align: center;
  }

  .navbar-wrapper {
    @include flexible(flex, space-between, center);
    @include padding(10px 0);
    position: relative;

    .logo {
      @include typography('Integral CF Regular', 32px, 700, uppercase, 1px);
      color: #fff;
      text-decoration: none;
    }

    .navbar-links {
      @include typography('Satoshi', 16px, 400);
      @include flexible(flex, space-between, center);
      gap: 24px;

      @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        padding: 10px 20px;

        &.open {
          display: flex;
        }

        a {
          padding: 10px 0;
          border-bottom: 1px solid #ddd;
          color: #333;
        }

        .navbar-search {
          display: flex;
          align-items: center;

          i {
            margin-right: 10px;
            font-size: 17px;
          }

          input {
            padding: 10px 30px;
            width: 100%;
            background-color: #f0f0f0;
            border: none;
            border-radius: 5px;
            outline: none;
          }

          .buttons-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a,
            select {
              width: 100%;
              padding: 10px;
              text-align: left;
              background-color: #f0f0f0;
              border-radius: 5px;
              border: none;
            }

            a i {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .navbar-search {
      position: relative;
      input {
        padding: 10px 30px;
        width: 450px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 30px;
        outline: none;
      }

      i {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 17px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .buttons-wrapper {
      @include flexible(flex, center);
      gap: 14px;
      i {
        font-size: 24px;
      }

      select {
        @include padding(2px 15px);
        background-color: #f0f0f0;
        border: none;
        border: 1px solid #000;
        border-radius: 4px;
      }
    }

    .menu-toggle {
      display: none;
      font-size: 28px;
      cursor: pointer;
      @media (max-width: 768px) {
        display: block;
      }
    }

    .user-buttons {
      font-size: 24px;
      a {
        margin-left: 10px;
      }
    }
  }
}
